:root {
    color-scheme: light dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:11pt;
}


.gray {
    color: gray;
}

.accent {
    text-decoration: underline;
    text-underline-offset: 4px;
}

a {
    color: rgb(42, 172, 177);
    text-decoration: none;
    font-weight: 500;
}


@media (prefers-color-scheme: dark) {

    :root {
        background-color: #2c2a2a;
        // color: hsl(0, 0%, 85%)
    }

    a {
        color: rgb(253, 165, 1);
    }

}





nav {
    display: flex;
    gap: 0.25rem;
    a {
        text-decoration: none;
    }

    a:hover {
        // text-decoration: none;
    }
}


body {
    padding: 4px;
    margin: 0 auto;
    max-width: 80ch;
    min-width: 320px;
}



li {
    margin: 1rem 0;
    line-height: 1.5rem;
}

li p {
    margin: 0.4rem 0;
}

p {
    margin: 1rem 0;
    line-height: 1.3rem;
}

hr {
    color: inherit;
}


h1 {
    font-size: 1.5rem;
    margin: 15px 0 5px 0;
}

h2 {
    font-size: 1.1rem;
    margin: 15px 0 5px 0;
}

h3 {
    font-size: 1rem;
    margin: 15px 0 5px 0;
}


li {
    min-width: 0px;
}

ul,
ol {
    margin-left: 0;
    padding-left: 20px;
}


img,
video,
canvas {
    max-width: 100%;
    display: block;
    margin: 0
}

figure img,
video,
canvas {
    margin: 10px 0px;
}

figure {
    // font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: 0
}

code {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    color: gray;
}