:root {
    color-scheme: light dark;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


nav {
    padding-top: 1rem;
    font-weight: bold;

    a {
        display: inline-block;
        color: inherit;
        text-decoration: underline;
    }

    a:hover {
        color: rgb(80, 80, 80);
        text-decoration: none;
    }
}


body {
    margin: 0 auto;
    padding: 1rem;
    max-width: 80ch;
    min-width: 320px;
}



li {
    margin: 1rem 0;
    line-height: 1.5rem;
}

li p {
    margin: 0.4rem 0;
}

p {
    margin: 1rem 0;
    line-height: 1.3rem;
}


a {
    color: inherit;
}

h1 {
    font-size: 1rem;
    margin: 15px 0;
}

h2 {
    font-size: 1rem;
    margin: 15px 0;
}

h3 {
    font-size: 1rem;
    margin: 15px 0;
}


li {
    min-width: 0px;
}

ul,
ol {
    margin-left: 0;
    padding-left: 20px;
}


img,
video,
canvas {
    max-width: 100%;
    display: block;
    margin: 0
}

figure img,
video,
canvas {
    margin: 10px 0px;
}

figure {
    // font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: 0
}

code {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    padding-top: 50px;
}